.card {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin: 0 0 1rem;
    overflow: scroll;
    position: relative;
    transition: box-shadow 0.2s ease-in-out;
}