*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    animation: Shakebody linear 6s infinite;
}
.sky{
    height:100vh;
    width: 100%;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    position: absolute;
}

.trees{
    height: 100vh;
    width: 100%;
    background-image: url('trees.png');
    background-size: cover;
    position: absolute;
    top: -144px;
}
.track{
    height: 60vh;
    width: 800vw;
    background-image: url('track.png');
    position: absolute;
    background-repeat: repeat-x;
    top: 70vh;
    animation: trackRotation linear 13s infinite;
}

.car{
    height: 100px;
    width: 340px;
    background-image: url(car_body.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 444px;
    bottom: 29vh;
    animation: Shake linear 3s infinite;
}


.wheel1 img{
    width: 68px;
    position: relative;
    top: 39px;
    left: 41.3px;
    animation: wheelRotation linear .6s infinite;
}
.wheel2 img{
    width: 69px;
    position: relative;
    top: -33px;
    left: 218px;
    animation: wheelRotation linear .6s infinite;
}

@keyframes wheelRotation {
    100%{
        transform: rotate(360deg);
    }
}

@keyframes trackRotation {
    100%{
        transform: translateX(-500vw);
    }
}
@keyframes Shake {
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}
@keyframes Shakebody {
    0%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-50px);
    }
}