* {
  padding: 0px;
  margin: 0;
}

.logo {
  border: 0.0001px solid black;
  padding: 15px;
  border-radius: 100px;
  backdrop-filter: blur(50px);
  height: 4vh;
}

.logo:hover {
  backdrop-filter: blur(50px);
  animation: rotation 1s linear 0s 1 forwards alternate;
}
.nav-bar {
  padding: 20px 50px 20px 50px;
  margin: 0px auto 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  font-weight: 500;
  display: flex;
  gap: 1.3rem;
  align-items: center;
}

.nav-items a {
  border-radius: 100px;
  backdrop-filter: blur(9px);
  background-color: rgba(255, 255, 255, 0.089);
  padding: 12px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  font-weight: 300;
  text-decoration: none;
}

.nav-items a:hover {
  backdrop-filter: blur(20px);
  box-shadow: -3px 3px 3px 0px rgb(0, 0, 0);
  transform: translateY(-2px);
}

.nav-items a:active {
  backdrop-filter: blur(20px);
  box-shadow: 0px 1px 5px 1px rgb(0, 0, 0);
  transform: translateY(2px);
}
.main-heading {
  font-family: "Snowburst One", cursive;
  font-size: 100px;
  color: white;
}

.sub-heading {
  font-family: "Snowburst One", cursive;
  color: white;
  font-size: 32px;
}

.hero {
  text-align: left;
  transform: translate(0px 0px);
  position: absolute;
  top: 20%;
  left: 3%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hero-button {
  backface-visibility: hidden;
  margin-top: 20px;
  /* animation: myanimation 0.5s ease-in 2s 1 forwards alternate; */
  width: fit-content;
  padding: 18px;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(8px);
  font-size: 18px;
  letter-spacing: 1px;
  border: none;
  border-radius: 100px;
  font-weight: bold;
}
.hero-button:hover {
  transform: translateY(-2px);
  backdrop-filter: blur(20px);
  box-shadow: -1px 3px 3px 1px rgba(0, 0, 0, 0.564);
}

.hero-button:active {
  transform: translateY(2px);
  box-shadow: -1px 3px 3px 1px black;
}
.hero-section {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(34, 238, 68, 0), rgba(51, 248, 255, 0)),
    url(images/heroImage.jpg);
  position: fixed;
  background-clip: linear;
}

.lets-go {
  animation: letsgo 3s linear 0s 1 forwards alternate;
  position: absolute;
  top: 70%;
  font-size: 44px;
  left: 3%;
  transform: rotate(-20deg);
  color: white;
  font-family: "Snowburst One", cursive;
}
@keyframes myanimation {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    opacity: 1;
    transform: translateX(20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  70% {
    transform: rotate(120deg);
  }

  90% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    opacity: 1;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes letsgo {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }

  25% {
    transform: translateX(30px);
    opacity: 1;
  }

  40% {
    transform: translateX(70px);
    opacity: 1;
  }

  60% {
    transform: translateX(180px);
    opacity: 0;
  }

  70% {
    transform: translateX(320px);
    opacity: 0;
  }

  80% {
    transform: translateX(470px);
    opacity: 0;
  }

  90% {
    opacity: 0;
  }
  100% {
    transform: translateX(1400px);
    opacity: 0;
  }
}

.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
  padding: 0;
}
.line {
  fill: none;
  stroke: rgb(255, 255, 255);
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 2;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 2;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 2;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
@media (max-width: 850px) {
  #hamburger {
    display: block;
  }
  .nav-items {
    display: none;
  }

  .main-heading {
    font-size: 56px;
  }

  .sub-heading {
    font-size: 18px;
  }

  .hero {
    justify-content: center;
    margin: auto;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
  }
  .nav-bar {
    padding: 20px 20px 0px 20px;
  }
  .hero-section {
    height: 100vh;
    width: 100vw;
  }

  .menu {
    display: flex;
  }
}
